 
body {
     background-color: #f5f7fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}
/* HERO */
 .hero {
    background: linear-gradient(120deg, #007bff, #00c6ff);
    color: rgb(255, 255, 255);
    padding: 80px 20px;
    text-align: center;
}
/* CARDS */
    .card {
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}


.tour-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.tour-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  transition: 0.3s;
}

.tour-card img {
  width: 100%;
  height: 175px;
  border-radius: 10px;
  object-fit: cover;
}

.tour-card:hover {
  transform: scale(1.25);
}

/* Hover price */
.tour-info {
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(7, 160, 104);
  color: white;
  padding: 8px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.3s;
}

.tour-card:hover .tour-info {
  opacity: 1;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  }

.price{
color:#28a745;
font-weight:bold;
}

/* FOOTER */
 footer {
 background: #222;
 color: white;
padding: 20px;
text-align: center;
}
<<<<<<< HEAD
#contact a {
  transition: 0.3s;
}

#contact a:hover {
  transform: scale(1.3);
}
#contact {
  background: linear-gradient(to right, #f8f9fa, #e3f2fd);
}
=======
>>>>>>> a7c299abe72d9d85a77bb8a0295d4516d3711fea
